.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  color: #61dafb;
  margin: auto;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.productsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: #61dafb 4px solid;
}

.product{
  border: #61dafb 4px solid;
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #61dafb;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  width: 60%;
  justify-content: center;
  align-self: center;
}

.CreateProduct{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 10%;
}
